// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  disply: block;
}

strong {
  font-weight: bold;
}



h1 {
  font-size: 2em;

}

p {
  font-size: 13px;
  line-height: 18px;
  font-family: verdana;
  margin: 33px;
}

p {
  disply: block;
  
}